body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.content {
  background: url(/img/1616978145_5-p-sine-fioletovii-fon-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: rgb(118, 57, 175);
}

.table {
  margin-top: 10px;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  border-collapse: collapse;
  text-align: center;
}

.table td {
  min-width: 200px;
}

tr:nth-child(3n + 1) {
  background: white;
}
